<ul class="nav navbar-top-links navbar-right">
  <li class="dropdown">
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"><%= t('more') %>
      <i class="fa fa-align-justify"></i>  <span class="label label-warning"></span>
    </a>
    <ul class="dropdown-menu dropdown-messages main-menu">
      <% main_menus.each do |main_menu| %>
        <li>
          <a href="<%= main_menu.url %>">
            <div>
              <i class="<%= main_menu.icon_class %>"></i> <%= main_menu.display_name %>
              <span class="pull-right text-muted small"></span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
      <% end %>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i> <%= t('logout') %>
        <% end %>
      </li>
    </ul>
  </li>
  <li>
    <!--<a href="login.html">-->
      <!--<i class="fa fa-sign-out"></i>-->
      <h3 class="cart-text"><%= render 'layouts/cart_text' %></h3>
    <!--</a>-->
  </li>
</ul>