<div class="ibox-title">
  <h5>Order Review</h5>
  <div class="ibox-tools">
    <a class="collapse-link">
      <i class="fa fa-chevron-up"></i>
    </a>
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-wrench"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li><a href="#">Config option 1</a>
      </li>
      <li><a href="#">Config option 2</a>
      </li>
    </ul>
    <a class="close-link">
      <i class="fa fa-times"></i>
    </a>
  </div>
</div>
<div class="ibox-content">
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Sub-total</th>
        </tr>
        <% cart_items.each do |cart_item| %>
          <tr>
            <td><%= product_image(Image.get_product_page_image(cart_item.product), 'thumb') %></td>
            <td><%= cart_item.quantity %></td>
            <td><%= currency_rate_with_symbol(@country_rate, cart_item.product.sell_price)  %></td>
            <td><%= currency_rate_with_symbol(@country_rate, cart_item.cart_item_total)  %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td><%= t('cart.total') %></td>
          <td><%= currency_rate_with_symbol(@country_rate, @order.total) %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><%= t('cart.discount') %></td>
          <td><%= currency_rate_with_symbol(@country_rate, @order.discount) %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><%= t('cart.cashback') %></td>
          <td><%= currency_rate_with_symbol(@country_rate, @order.cashback) %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><%= t('cart.brownie_point') %></td>
          <td><%= currency_rate_with_symbol(@country_rate, @order.brownie_point) %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><%= t('cart.shipping') %></td>
          <td><%= currency_rate_with_symbol(@country_rate, @order.shipping) %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><strong><%= t('cart.grand_total') %></strong></td>
          <td><strong><%= currency_rate_with_symbol(@country_rate, @order.grand_total) %></strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="align-right">
    <%= submit_tag 'Place Order', class: 'btn btn-primary' %>
  </div>
</div>