<div class="ibox-title">
  <h5>Order Review</h5>
  <div class="ibox-tools">
    <a class="collapse-link">
      <i class="fa fa-chevron-up"></i>
    </a>
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-wrench"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li><a href="#">Config option 1</a>
      </li>
      <li><a href="#">Config option 2</a>
      </li>
    </ul>
    <a class="close-link">
      <i class="fa fa-times"></i>
    </a>
  </div>
</div>
<div class="ibox-content">
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Sub-total</th>
        </tr>
        <% cart_items.each do |cart_item| %>
          <tr>
            <td><%= image_tag Image.get_product_page_image(cart_item.product.images).first.avatar.url(:thumb), alt: 'Icon' %></td>
            <td><%= cart_item.quantity %></td>
            <td><%= cart_item.product.sell_price %></td>
            <td><%= cart_item.cart_item_total %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <%= submit_tag 'Place Order' %>
  </div>
</div>