<% if @cart_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @cart_items.each do |cart_item| %>
    <div class="ibox-content">
      <div class="table-responsive">
        <table class="table shoping-cart-table">
          <tbody>
            <tr>
              <td width="90">
                <div class="cart-product-imitation">
                  <%= product_image(Image.get_product_page_image(cart_item.product.images), 'thumb') %>
                </div>
              </td>
              <td class="desc">
                <h3>
                  <a href="#" class="text-navy">
                    <%= link_to cart_item.product.name, cart_item.product %>
                  </a>
                </h3>
                <p class="small">
                  <%= cart_item.product.description %>
                </p>
                <dl class="small m-b-none">
                  <dt>Description lists</dt>
                  <dd>A description list is perfect for defining terms.</dd>
                </dl>
                <div class="m-t-sm">
                  <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add to wish list</a>
                  |
                  <%= link_to "Remove item", cart_item, { data: { confirm: "Are you sure you wish to delete the product '#{cart_item.product.name}' from your cart?" }, method: :delete, remote: true, class: "text-muted" } %>
                  <!--<a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>-->
                </div>
              </td>
              <td>
                <%= cart_item.product.sell_price %>
                <s class="small text-muted"><%= cart_item.product.sell_price %></s>
              </td>
              <td width="65">
                <input type="text" class="form-control" placeholder="<%= cart_item.quantity %>">
              </td>
              <td>
                <h4>
                  <%= cart_item.cart_item_total %>
                </h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>