<% if coupon %>
  <div class="row">
    <div class="col-md-6"><strong><%= coupon.name %></strong></div>
    <div class="col-md-6" id="total"><%= link_to "Cancel Coupon", apply_coupon_path(cancel_coupon: true), :remote=> true , :method=> :post %></div>
  </div>
<% else %>
  <%= form_tag apply_coupon_path, :class=> "form-inline", remote: true do %>
    <div class="form-group">
      <%= text_field_tag 'coupon', nil, placeholder: 'Enter Coupon Code', class: 'form-control' %>
    </div>
    <%= submit_tag "Apply Coupon", class: "btn btn-primary" %>
  <% end %>
<% end %>