<% products.each_slice(item_per_row) do |products| %>
  <div class="row">
    <% products.each do |product| %>
      <div class="col-md-3">
        <div class="ibox">
          <div class="ibox-content product-box">
            <div class="product-imitation product-image-container">
              <%= link_to product do %>
                <%= product_image(product.images, 'medium') %>
              <% end %>
            </div>
            <div class="product-desc description-pos">
              <div class='product-info'>
                <strong><%= link_to "#{product.color.name} #{product.name}", product, class: "product-page-product-name" %></strong><br />
                <strong>$<%= product.sell_price %></strong>
              </div>
              <div class='row'>
                <div class="col-md-6">
                  <%= product.sub_category.name %>
                </div>
                <div class="col-md-6">
                  <%= form_for cart_item, remote: true do |f| %>
                    <%= f.hidden_field :quantity, value: 1 %>
                    <%= f.hidden_field :product_id, value: product.id %>
                    <%= f.submit "Add to Cart", class: "btn btn-primary pull-right" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
