<!DOCTYPE html>
<html>
<head>
  <title>Marketing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="wrapper">
    <div id="page-wrapper" class="gray-bg" style="margin: 0 0 0 0px;">
      <div class="row border-bottom">
        <%= render 'shared/header' %>
      </div>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </div>
</body>
</html>
